@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'JetBrains Mono' !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.home-bg {
  background-image: url("/assets/layout/background-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-bg {
  background: linear-gradient(135deg, #D2A6FF 0%, #D8F968 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

.comic-border {
  border: 3px solid #101112;
  box-shadow: 8px 8px 0px #101112;
}

.comic-border-mini {
  border: 3px solid #101112;
  box-shadow: 3px 3px 0px #101112;
}

.create-btn-gradient {
  background: linear-gradient(135deg, #D2A6FF 0%, #D8F968 100%);
}

.bg-lime {
  background-color: #ABFE2C;
}

.bg-purple {
  background-color: #D2A6FF;
}
