@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-neutral-black
    }
}

@layer utilities {
    .text-subtitle-2 {
        @apply font-bold text-[18px] leading-[28px] tracking-[0.4px]
    }
    .text-description-bold {
        @apply font-bold text-[12px] leading-[18px]
    }
    .text-description-regular {
        @apply font-normal text-[12px] leading-[18px]
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
